---
import Header from "../components/Header.astro";
import Base from '../layouts/Base.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Accueil</title>
    </head>
    <body>
        <Base titre="Accueil">
            <h1>Accueil</h1> <!-- ou "Offres" pour la page des offres -->
        </Base>
    </body>
</html>

