---
import Base from '../../layouts/Base.astro';
import { addOffre } from '../../js/backend.mjs';

let message = '';
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addOffre(formData);
    message = response.message;
}
---

<h1 class="text-lg">Ajouter une offre</h1>
<form action="/offres/add" method="POST" enctype="multipart/form-data">
    <input type="text" name="nom" placeholder="Nom de la maison" required class="w-full mt-2 p-2 border border-gray-300 rounded-md" />
    <input type="number" name="prix" placeholder="Prix" />
    <input type="file" name="field" placeholder="image de la maison"  />
    <input type="number" name="chambres" placeholder="Nombre de chambres"  />
    <input type="number" name="salle_de_bain" placeholder="nombre de salle de bains"  />
    <input type="number" name="superficie" placeholder="superficie"  />
    <button type="submit">Ajouter</button>
</form>