---

import { array } from "astro:schema";
import Header from "../../components/header.astro";
import Base from '../../layouts/Base.astro';
import Card from "../../components/Card.astro";
import { getOffre } from "../../js/backend.mjs";
import { filterByPrix } from "../../js/backend.mjs";

let offres = await getOffre();
import Add from '../offres/add.astro';
let message = '';
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        offres = await filterByPrix(minPrix, maxPrix);
        if (offres.length === 0) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
    }
} else {
    offres = await getOffre();
}
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Offres</title>
    </head>
    <body>
        <form action="/offres" method="POST">
            <input type="number" name="minPrix" placeholder="Prix minimum" />
            <input type="number" name="maxPrix" placeholder="Prix maximum" />
            <input type="submit" value="Filtrer par prix" />
        </form>
        <a href="/offres/add">Ajouter une offre</a>
        <div x-data="{showFavorites: false}">
            <button x-on:click="showFavorites = !showFavorites">
                <span x-show="!showFavorites">Afficher les favoris</span>
                <span x-show="showFavorites">Afficher tout</span>
            </button>

            <div x-show="!showFavorites">
                {offres.map((offre) => <Card {...offre} />)}
            </div>
            <div x-show="showFavorites">
                {offres.map((offre) => offre.favori && <Card {...offre} />)}
            </div>
        </div>

    </body>
</html>